.Clothes .shop {
    display: grid;
    /*grid-template-columns: 20% 77%;*/
    /*grid-column-gap: 3%;*/
    /*padding: 50px 20px 20px 20px;*/
    grid-template-rows: minmax(10vh, auto) minmax(80%, max-content);
    min-height: 100vh;
}


.Clothes .shop .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}