.header-top {
    width: 96%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
    box-sizing: border-box;
    margin: auto;
}

.header-top .user-container img {
    padding-right: 10px;
    box-sizing: border-box;
}

.header-top .search-line {
    display: flex;
    align-items: center;
}

.header-top .search-line .btn {
    border: 1px solid #2A254B;
    border-radius: 0 5px 5px 0;
    width: 28px;
    height: 28px;
    background-image: url("../../assets/image/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top a {
    color: #22202E;
    text-decoration: none;
}

.header-top .logo {
    font-family: ClashDisplay-Regular;
}

.header-bottom {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-sizing: border-box;
    margin: auto;
}

.header-bottom a {
    color: #22202E;
    text-decoration: none;
}

.header-bottom .category-item {
    height: 20px;
    box-sizing: border-box;
}

.header-bottom .category-item:hover {
    border-bottom: 1px solid black;
}

             /*HEADER_SHOT*/

.Header-shot {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Header-shot a {
    color: #22202E;
    text-decoration: none;
}

.Header-shot .logo-text-shot {
    font-family: ClashDisplay-Regular;
    padding: 0 20px;
}

.Header-shot .search-line {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Header-shot .search-line input {
    height: 20px;
}

.Header-shot .search-line .btn {
    border: 1px solid #2A254B;
    border-radius: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/image/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
}

.Header-shot .menu-container {
    justify-self: right;
    display: flex;
}

.Header-shot .menu-container img {
    padding-right: 10px;
    box-sizing: border-box;
}

.Header-shot .menu {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    display: none;
    position: absolute;
    top: 41px;
    background-color: whitesmoke;
}

.Header-shot .menu .category-item {
    padding: 5px 0;
}

.Header-shot .menu .cart-item {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.Header-shot .menu .close {
    cursor: pointer;
}