@font-face {
    src: url("./assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf");
    font-family: Satoshi-Regular;
}

@font-face {
    src: url("./assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf");
    font-family: ClashDisplay-Regular;
}

body {
    margin: 0;
    font-family: Satoshi-Regular;
}

.App {
    margin: auto;
    max-width: 1920px;
}